@model EcoMarino.LogicaAplicacion.DTOs.ConfiguracionDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Configuracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div class="text-danger"></div>
            <input value="@ViewBag.id" name="nombreAtributo" hidden/>

            <div class="form-group">
                <label asp-for="topeInferior" class="control-label">Tope Inferior</label>
                <input asp-for="topeInferior" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="topeSuperior" class="control-label">Tope Superior</label>
                <input asp-for="topeSuperior" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
