@model EcoMarino.LogicaAplicacion.DTOs.EcosistemaDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@if(ViewBag.Msg != null)
{
    <div class="alert alert-danger">@ViewBag.Msg</div>
}

<h4>Ecosistema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div>
                <label>Nombre casual: </label>
                <input type="text" class="form-control" name="nameEco" />
            </div>

            <div>
                <label>Descripción: </label>
                <input type="text" class="form-control" name="descEco" />
            </div>

            <input value="@ViewBag.IdEco" name="IdEco" hidden />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
